/* Reset some default styles */
html, body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar a{
    margin-left: 30px;
    text-decoration: none;
    color: hsl(212, 100%, 82%);
  }
  
  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-heading {
    font-size: 1.5rem;
    margin: 0;
    text-decoration: none;
    color: #fff;
  }
  
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .heading {
    font-size: 2rem;
    margin-top: 20px;
    color: #007bff;
    text-align: center;
  }
  
  .first-step {
    margin-top: 10px;
    text-align: center;
    color: gray;
  }
  
  .btn, .back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover, .back-btn:hover {
    background-color: #0056b3;
  }
  
  /* Amount styles */
  .amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  
  .msg{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
  }
  
  .msg a{
    text-decoration: none;
    color: #333;
    transition: 0.2s ease;
  }
  
  .msg a:hover{
    color: #0056b3;
  }
  
  .credentials{
    margin-top: 40px;
    padding: 20px;
    border-top: 2px solid silver;
  }
  
  input {
    margin-top: 10px;
    padding: 12px;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-left: 4px solid hsl(212, 100%, 82%);;
    border-radius: 5px;
    width: 250px;
    transition: 0.1s ease;
  }
  
  input:hover{
    box-shadow: black;
    border: hsl(212, 80%, 46%);
    border-style:ridge;
  }
  